


.cover_page_font {
  font-family: "Cute Font", sans-serif;
  font-style: normal;
}

.contact_popup_font {
  font-family: "Dosis",  sans-serif;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: Background color for the page */
}

.centred_text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}

.question_text {
  text-align: center;

  font-size: 60px;  
}

.link_text {
  align-self: flex-end;

  font-size: 30px;
}