#company_name {
  font-size: 80px;
}

.nav_text {
  font-size: 40px;
}


.theme-font {
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 1 !important;
}

.general_text {
  text-align: justify;

  font-size: 30px;
}

